about-time==4.2.1
absl-py==1.4.0
ale-py==0.8.1
alive-progress==3.1.1
appdirs==1.4.4
asttokens==2.2.1
autograd==1.5
backcall==0.2.0
box2d-py==2.3.5
cachetools==5.3.0
certifi==2022.12.7
cffi==1.14.2
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
cma==3.2.2
cmake==3.26.3
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
Cython==0.29.34
decorator==4.4.2
Deprecated==1.2.13
dill==0.3.6
docker-pycreds==0.4.0
executing==1.2.0
Farama-Notifications==0.0.4
fasteners==0.18
filelock==3.12.0
fonttools==4.39.3
future==0.18.3
gitdb==4.0.10
GitPython==3.1.31
glfw==2.5.9
google-auth==2.17.3
google-auth-oauthlib==1.0.0
grapheme==0.6.0
grpcio==1.54.0
gym==0.21.0
gymnasium==0.28.1
gymnasium-robotics==1.2.0
idna==3.4
imageio==2.28.1
imageio-ffmpeg==0.4.8
importlib-resources==5.12.0
ipdb==0.13.13
ipython==8.13.1
jax==0.3.24
jax-jumpy==1.0.0
jaxlib==0.3.24
jedi==0.18.2
Jinja2==3.1.2
kiwisolver==1.4.4
lit==16.0.2
lz4==4.3.2
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mo-gymnasium==0.3.4
moviepy==1.0.3
mpmath==1.3.0
mujoco==2.3.5
mujoco-py==2.1.2.14
networkx==3.1
numpy==1.22.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
opencv-python==4.7.0.72
opt-einsum==3.3.0
packaging==23.1
parso==0.8.3
patchelf==0.17.2.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
proglog==0.1.10
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pygame==2.1.3
pyglet==1.5.27
Pygments==2.15.1
pymoo==0.6.0.1
PyOpenGL==3.1.6
PyOpenGL-accelerate==3.1.6
pyparsing==3.0.9
PyRep==4.1.0.3
python-dateutil==2.8.2
PyVirtualDisplay==3.0
PyYAML==6.0
rc-robosim==1.2
requests==2.29.0
requests-oauthlib==1.3.1
rsa==4.9
-e git+ssh://git@github.com/robocin/rSoccer.git@3fb6095a269ecebc98408551ad86710bba327912#egg=rsoccer_gym
scipy==1.10.1
sentry-sdk==1.21.1
setproctitle==1.3.2
Shimmy==0.2.1
six==1.16.0
smmap==5.0.0
stack-data==0.6.2
swig==4.1.1
sympy==1.11.1
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorboardX==2.6
tomli==2.0.1
torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
tqdm==4.65.0
traitlets==5.9.0
triton==2.0.0
typing_extensions==4.5.0
urllib3==1.26.15
wandb==0.15.1
wcwidth==0.2.6
Werkzeug==2.3.3
wrapt==1.15.0